body {
  background-color: aqua;
}

.employeeTable {
  border-collapse: collapse;
}

.employeeTable td {
  padding: 10px 6px;
  border: 1px solid black;
}

.container {
  padding: 20px;
}

.total {
  text-align: right;
}

.tableHead {
  text-align: center;
}
