html,
body {
  margin: 0;
}

h2 {
  margin-left: 20px;
  margin-bottom: 0px;
}

.employeeTable {
  border-collapse: collapse;
}

.js-employeeList tr:nth-child(even) {
  background-color: lightgray;
}

.employeeTable td {
  padding: 10px 6px;
  border: 1px solid black;
}

.container {
  padding: 20px;
}

.total {
  text-align: right;
  background-color: gray;
  color: white;
}

.tableHead {
  text-align: center;
  background-color: gray;
  color: white;
}

.head {
  padding: 15px 25px;
  background-color: gray;
  text-align: center;
  margin: 0;
}
